In [13]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import os
from statsmodels.formula.api import ols

In [14]:
data = pd.read_excel(r'C:\Users\a_del\Downloads\anova_lab_data.xlsx')

In [15]:
#PART-1-In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. 
#Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

#Context
#Suppose you are working as an analyst in a microprocessor chip manufacturing plant. 
#You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. 
#Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. 
#You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. 
#You can find the data anova_lab_data.xlsx file in the files_for_lab folder

#State the null hypothesis
#State the alternate hypothesis
#What is the significance level
#What are the degrees of freedom of model, error terms, and total DoF
#Data was collected randomly and provided to you in the table as shown: link to the image - Data

In [16]:
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [17]:
data.columns = ['power', 'etching_rate']

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   power         15 non-null     object
 1   etching_rate  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 368.0+ bytes

In [19]:
data.describe

<bound method NDFrame.describe of     power  etching_rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55>

In [20]:
#Null Hypotesis:There is not any difference in the mean of etching rate for different levels of power

#Alternative hypotesis:There is difference in the mean of etching rate for different levels of power

#Level of significance 0.05
#Using ANOVA and f distribution (F-TEST)
#data1 : k-1, k=number of groups, we have 3 groups so data=k-1 => 3-1=2
#data2 : n-k, n=total sample size with all groups combined,
#k=number of groups
#So, n=15, k=3 and data2=n-k=15-3=12,

#The total degrees of freedom are data=data1+data2=2+12=14

In [21]:
#Part 2-In this section, use Python to conduct ANOVA

In [23]:
import statsmodels.api as sm
model = ols('etching_rate ~ power',data=data).fit()
outcome = sm.stats.anova_lm(model)
print(outcome)

            df     sum_sq   mean_sq          F    PR(>F)
power      2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

In [24]:
data.pivot(columns='etching_rate').describe()

              power                                                          \
etching_rate   5.43   5.59   5.66   5.71   5.98   6.01   6.22   6.24   6.60
count             1      1      1      1      1      1      1      1      1
unique            1      1      1      1      1      1      1      1      1
top           160 W  160 W  180 W  160 W  180 W  160 W  160 W  180 W  180 W
freq              1      1      1      1      1      1      1      1      1


etching_rate   6.71   7.55   7.90   8.15   8.79   9.20
count             1      1      1      1      1      1
unique            1      1      1      1      1      1
top           180 W  200 W  200 W  200 W  200 W  200 W
freq              1      1      1      1      1      1

In [26]:
from scipy.stats import ttest_ind

display_a = data[data['power'] == '200 W']['etching_rate']

for display in data['power'].unique():
    display_b = data[data['power'] == display]['etching_rate']
    print(display, ttest_ind(display_a, display_b))

160 W Ttest_indResult(statistic=7.611403634613074, pvalue=6.237977344615716e-05)
180 W Ttest_indResult(statistic=5.827496614588661, pvalue=0.0003926796476049085)
200 W Ttest_indResult(statistic=0.0, pvalue=1.0)

In [ ]:
#we reject the null hypothesis, as probability of F<0.05